// searched movies style

@mixin searched {
  margin-top: 20px;
  .movie {
    display: flex;
    justify-content: center;
    align-items: center;
    .section {
      display: flex;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      img {
        padding: 20px;
        width: 20%;
        transition: 0.25s all;
        &:hover {
          margin-left: 0 40px;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        overflow: hidden;
        width: 90%;
        img {
          width: 50%;
        }
      }
    }
  }
}
