.google-fonts {
  font-family: "Acme", sans-serif;
  font-family: "Righteous", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Concert One", cursive;
  font-family: "Luckiest Guy", cursive;
  font-family: "Bangers", cursive;
  font-family: "Sigmar One", cursive;
  font-family: "Carter One", cursive;
  font-family: "Lemonada", cursive;
  font-family: "Caveat Brush", cursive;
}
